version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app
    ports:
      - "8000:8000"
    environment:
      GEMINI_API_KEY:
      SMTP_EMAIL:
      SMTP_PASSWORD:
      GITHUB_TOKEN:
    volumes:
      - db-data:/app/data

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db-data:
